@font-face {
    font-family: 'ZillaSlab';
    src: url(../fonts/Zilla_Slab/ZillaSlab-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ZillaSlab-700';
    src: url(../fonts/Zilla_Slab/ZillaSlab-Bold.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-700';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
