$white: #FFFFFF;
$black: #303030;
$purple: #654073;
$sea-blue: #52559a;
$salmon: #bf4080;
$pureblack: #000000;
$cyan: #61DAFB;
$green: #4fc08d;
$violet: #764ABC;
$red: #D10014;
$darkblue1: #35495E;
$darkblue2: #1E2E3B;
