---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout title="Sobre">
  <div
    class="max-w-[656px] m-auto flex flex-1 items-center justify-center flex-col gap-4"
  >
    <p class="w-full text-lg text-white">
      I had my first encounter with technology through computer magazines that
      my parents used to buy at a newsstand near our home. I got an introduction
      to front-end development during my Computer Technician course in 2015,
      which was love at first sight and led me to pursue a degree in <strong
        >Information Systems</strong
      >.
    </p>

    <p class="w-full text-lg text-white">
      As a proponent of continuous improvement, it's essential to stay updated
      with the latest trends and innovations in the field. In addition to
      keeping up with the development of various libraries and tech events (such
      as Next.js Conf), I follow several content creators in the front-end
      space, including Fireship, Jack Herrington, Theo - t3.gg, developedbyed,
      and ByteGrad.
    </p>

    <p class="w-full text-lg text-white">
      As a <strong>Front-End Engineer</strong>, I work with a focus on React,
      Next.js, and TypeScript. However, this doesn't prevent me from exploring
      new technologies as needed (or out of curiosity). In the future, I also
      plan to work with backend and AI, given my previous experience with
      Node.js and Python.
    </p>

    <p class="w-full text-lg text-white">
      Some of my interests include swimming, weightlifting, classic cinema, and
      gaming.
    </p>
  </div>
</BaseLayout>
