@import '../../styles/variables.scss';

.grid-item {
    position: relative;
    margin-bottom: 1rem;
    display: inline-block;

    h2 {
        margin-bottom: 10px;
    }

    img {
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        object-fit: cover;
    }

    figcaption {
        background: $purple;
        text-align: center;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.cs-style {
    figcaption {
        backface-visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &:hover figcaption {
        opacity: 1;
    }
}

@media (min-width: 1340px){
    .grid-item {
        flex-basis: 49%;

        &:nth-child(2n+1){
            margin-left: 1rem;
        }
    }
}

@media (min-width: 961px){
    .cs-style {
        figcaption {
            padding: 100px 25px;
        }
    }
}

@media (max-width: 900px) {
    .grid-item {
        figcaption {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}

@media (min-width: 641px){
    .grid-item {
        min-height: 420px;
    }
}

@media (min-width: 481px) and (max-width: 960px) {
    .cs-style {
        figcaption {
            padding: 140px 25px;
        }
    }
}

@media (min-width: 481px){
    .grid-item {
        h2 {
            font-size: 2rem;
        }

        p {
            font-size: 1.1rem;
        }
    }
}

@media (min-width: 376px) and (max-width: 480px){
    .grid-item {
        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
            margin-bottom: 0.5rem !important;
        }
    }

    .cs-style {
        figcaption {
            padding: 100px 25px;
        }
    }
}

@media (max-width: 375px){
    .grid-item {
        h2 {
            font-size: 1.25rem;
        }
    }

    .grid-item-data-description {
        display: none;
    }

    .cs-style {
        figcaption {
            padding: 70px 25px;
        }
    }
}
