---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Sobre">
  <div
    class="max-w-[656px] m-auto flex flex-1 items-center justify-center flex-col gap-4"
  >
    <p class="w-full md:text-lg text-white">
      Eu obtive meu primeiro contato com tecnologia através de revistas de
      informática que meus pais compravam em uma bancada de jornal próximo de
      casa. Tal assunto me despertou interesse e, em 2015, obtive uma introdução
      ao front-end durante meu Técnico em Informática, o qual foi amor à
      primeira vista e me levou a cursar
      <strong>Sistemas de Informação</strong>.
    </p>

    <p class="w-full md:text-lg text-white">
      Como adepto da melhoria contínua, é necessário estar sempre atualizado com
      as últimas tendências e inovações na área. Além de acompanhar o
      desenvolvimento de diversas libs e eventos (como a Next.js Conf),
      acompanho vários criadores de conteúdo relacionados ao front-end,
      incluindo Fireship, Jack Herrington, Theo - t3.gg, developedbyed e
      ByteGrad.
    </p>

    <p class="w-full md:text-lg text-white">
      Como <strong>Front-End Engineer</strong>, trabalho com ênfase em React,
      Next.js e TypeScript. Porém, isso não é um impeditivo para abordar novas
      tecnologias conforme necessidade (ou curiosidade). No futuro, também
      pretendo trabalhar com backend e IA, devido à minha experiência anterior
      com Node.js e Python.
    </p>

    <p class="w-full md:text-lg text-white">
      Alguns de meus interesses incluem: natação, musculação, cinema clássico e
      gaming.
    </p>
  </div>
</BaseLayout>
