---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Contato">
  <form
    class="w-full max-w-[676px] m-auto flex flex-1 items-center justify-center flex-col gap-7"
  >
    <fieldset class="w-full flex flex-col">
      <label class="text-lg font-bold text-white pb-2 block" for="name"
        >Nome</label
      >

      <input
        class="w-full bg-transparent text-white border-b-2 border-white/50 pb-1 placeholder:text-white placeholder:opacity-50 focus:border-white outline-0 transition"
        type="text"
        name="name"
        placeholder="Seu nome"
      />
    </fieldset>

    <fieldset class="w-full flex flex-col">
      <label class="text-lg font-bold text-white pb-2 block" for="subject"
        >Assunto</label
      >

      <input
        class="w-full bg-transparent text-white border-b-2 border-white/50 pb-1 placeholder:text-white placeholder:opacity-50 focus:border-white outline-0 transition"
        type="text"
        name="name"
        placeholder="Assunto"
      />
    </fieldset>

    <fieldset class="w-full flex flex-col">
      <label class="text-lg font-bold text-white pb-2 block" for="message"
        >Mensagem</label
      >

      <textarea
        class="w-full h-40 bg-transparent text-white border-2 border-white/50 rounded-md p-1 placeholder:text-white placeholder:opacity-50 focus:border-white outline-0 transition resize-none"
        name="message"></textarea>
    </fieldset>

    <button
      class="w-20 text-white/50 text-center border-2 border-white/50 rounded-md py-1 px-4 placeholder:text-white placeholder:opacity-50 hover:border-white hover:text-white flex justify-center items-center outline-0 transition"
      >Enviar</button
    >
  </form>
</BaseLayout>
