---
import Intro from '../components/Intro.astro'

import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Home">
  <main class="flex flex-1 flex-col w-full">
    <Intro />
  </main>
</BaseLayout>
