@import url("https://fonts.googleapis.com/css?family=Roboto|Zilla+Slab");
/* line 8, ../sass/styles.scss */
.container, .skill-list, .contato .contact-form, .btnTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 14, ../sass/styles.scss */
*, *:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../sass/styles.scss */
button, .sidebar .sidebar-icons .fa-google:hover,
.sidebar .sidebar-icons .fa-github:hover,
.sidebar .sidebar-icons .fa-codepen:hover {
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
}

/* line 25, ../sass/styles.scss */
body, a, button, .grid-item figcaption {
  color: #fff;
}

/* line 29, ../sass/styles.scss */
.sidebar .image-holder img, .grid-item img, .cs-style figcaption, .skill-list {
  width: 100%;
}

/* line 33, ../sass/styles.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 45, ../sass/styles.scss */
::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #ddd;
}

/* line 50, ../sass/styles.scss */
:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #ddd;
}

/* line 55, ../sass/styles.scss */
::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #ddd;
}

/* line 60, ../sass/styles.scss */
body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  background: #eee;
}

/* line 68, ../sass/styles.scss */
h1,
h2,
h3 {
  font-family: "Zilla Slab", sans-serif;
}

/* line 74, ../sass/styles.scss */
h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

/* line 79, ../sass/styles.scss */
span {
  font-size: 1.5rem;
  margin-bottom: 7px;
}

/* line 84, ../sass/styles.scss */
a {
  text-decoration: none;
}

/* line 89, ../sass/styles.scss */
li {
  display: inline-block;
}

/* line 93, ../sass/styles.scss */
button {
  width: 90%;
  background: #52559a;
  border: solid 2px #52559a;
  padding: 12px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  display: block;
}
/* line 105, ../sass/styles.scss */
button:hover {
  background: transparent;
  color: #52559a;
}

/* line 115, ../sass/styles.scss */
.sidebar {
  padding: 11vh 5vw;
  text-align: center;
  background: -webkit-linear-gradient(135deg, #654073, #52559a);
  background: -o-linear-gradient(135deg, #654073, #52559a);
  background: -webkit-linear-gradient(135deg, #654073, #52559a);
  background: -o-linear-gradient(135deg, #654073, #52559a);
  background: linear-gradient(-45deg, #654073, #52559a);
  background-size: 100% 100%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}
/* line 139, ../sass/styles.scss */
.sidebar nav {
  font-size: 1.25rem;
  margin-top: 10px;
  list-style-type: none;
}
/* line 144, ../sass/styles.scss */
.sidebar nav li {
  padding: 0 8px;
}
/* line 147, ../sass/styles.scss */
.sidebar nav li:hover {
  font-weight: 700;
}
/* line 153, ../sass/styles.scss */
.sidebar .image-holder {
  width: 180px;
  position: relative;
  margin: 0 auto;
  top: 1rem;
}
/* line 159, ../sass/styles.scss */
.sidebar .image-holder img {
  border-radius: 50%;
  border: solid 5px #303030;
}
/* line 166, ../sass/styles.scss */
.sidebar .sidebar-icons {
  position: relative;
  top: 25%;
}
/* line 170, ../sass/styles.scss */
.sidebar .sidebar-icons li {
  padding: 8px;
}
/* line 174, ../sass/styles.scss */
.sidebar .sidebar-icons .fa-google,
.sidebar .sidebar-icons .fa-github,
.sidebar .sidebar-icons .fa-codepen {
  font-size: 1.8rem;
  padding: 12px;
  border-radius: 50%;
  background: #303030;
  border: solid 2px #303030;
  margin-right: 2px;
  vertical-align: middle;
}
/* line 185, ../sass/styles.scss */
.sidebar .sidebar-icons .fa-google:hover,
.sidebar .sidebar-icons .fa-github:hover,
.sidebar .sidebar-icons .fa-codepen:hover {
  color: #303030;
  background: transparent;
}

/* line 194, ../sass/styles.scss */
.content {
  padding: 5vw;
}
/* line 197, ../sass/styles.scss */
.content .intro,
.content .intro h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #303030;
}
/* line 204, ../sass/styles.scss */
.content h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #303030;
}
/* line 210, ../sass/styles.scss */
.content p {
  margin-bottom: 1rem;
}

/* line 215, ../sass/styles.scss */
.grid-item {
  margin-bottom: 1rem;
  display: inline-block;
  position: relative;
}
/* line 221, ../sass/styles.scss */
.grid-item img {
  position: relative;
  display: block;
}
/* line 227, ../sass/styles.scss */
.grid-item figcaption {
  position: absolute;
  top: 0;
  left: 0;
  background: #654073;
  text-align: center;
}
/* line 236, ../sass/styles.scss */
.grid-item h2 {
  margin-bottom: 10px;
}

/* line 243, ../sass/styles.scss */
.cs-style figcaption {
  height: 100%;
  opacity: 0;
  padding: 4.5vw 3vw;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
/* line 255, ../sass/styles.scss */
.cs-style:hover figcaption {
  opacity: 1;
}

/* line 260, ../sass/styles.scss */
.skill-list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0;
}
/* line 268, ../sass/styles.scss */
.skill-list img {
  width: 7%;
  margin-right: 1.5vw;
}
/* line 272, ../sass/styles.scss */
.skill-list img:last-child {
  margin-right: 0;
}

/* line 278, ../sass/styles.scss */
.contato {
  color: #303030;
}
/* line 281, ../sass/styles.scss */
.contato a {
  color: #52559a;
  font-weight: bold;
}
/* line 285, ../sass/styles.scss */
.contato a:hover {
  text-decoration: underline;
}
/* line 290, ../sass/styles.scss */
.contato .contact-form {
  margin-top: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 298, ../sass/styles.scss */
.contato .contact-form input,
.contato .contact-form textarea {
  width: 90%;
  margin-bottom: 10px;
  background: #52559a;
  border: solid 2px #52559a;
  color: #fff;
}
/* line 307, ../sass/styles.scss */
.contato .contact-form input {
  padding: 7px;
  border-radius: 5px;
  outline: none;
  -webkit-transition: background ease-out 0.3s;
  -o-transition: background ease-out 0.3s;
  transition: background ease-out 0.3s;
}
/* line 315, ../sass/styles.scss */
.contato .contact-form input:focus {
  color: #52559a;
  background: transparent;
}
/* line 319, ../sass/styles.scss */
.contato .contact-form input:focus:focus::-webkit-input-placeholder {
  color: #52559a;
  opacity: 0.8;
}
/* line 324, ../sass/styles.scss */
.contato .contact-form input:focus:focus:-ms-input-placeholder {
  color: #52559a;
  opacity: 0.8;
}
/* line 329, ../sass/styles.scss */
.contato .contact-form input:focus:focus::-ms-input-placeholder {
  color: #52559a;
  opacity: 0.8;
}
/* line 334, ../sass/styles.scss */
.contato .contact-form input:focus:focus::placeholder {
  color: #52559a;
  opacity: 0.8;
}
/* line 341, ../sass/styles.scss */
.contato .contact-form textarea {
  height: 15vh;
  resize: none;
  -webkit-transition: background ease-out 0.3s;
  -o-transition: background ease-out 0.3s;
  transition: background ease-out 0.3s;
  text-indent: 5px;
  border-radius: 5px;
  outline: none;
}
/* line 351, ../sass/styles.scss */
.contato .contact-form textarea:focus {
  color: #52559a;
  background: transparent;
}
/* line 355, ../sass/styles.scss */
.contato .contact-form textarea:focus:focus::-webkit-input-placeholder {
  color: #52559a;
  opacity: 0.8;
}
/* line 360, ../sass/styles.scss */
.contato .contact-form textarea:focus:focus:-ms-input-placeholder {
  color: #52559a;
  opacity: 0.8;
}
/* line 365, ../sass/styles.scss */
.contato .contact-form textarea:focus:focus::-ms-input-placeholder {
  color: #52559a;
  opacity: 0.8;
}
/* line 370, ../sass/styles.scss */
.contato .contact-form textarea:focus:focus::placeholder {
  color: #52559a;
  opacity: 0.8;
}

/* line 379, ../sass/styles.scss */
.btnTop {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 389, ../sass/styles.scss */
.btnTop button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  right: 0;
  bottom: 0;
  bottom: 2vh;
  right: 0.7vw;
}
/* line 399, ../sass/styles.scss */
.btnTop button:hover {
  color: #52559a;
  background: transparent;
}
/* line 404, ../sass/styles.scss */
.btnTop button .fa-arrow-up {
  font-size: 1.4rem;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes upDown {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0);
  }
}
@keyframes upDown {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0);
  }
}
/* line 459, ../sass/styles.scss */
[data-anime] {
  opacity: 0;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

/* line 466, ../sass/styles.scss */
[data-anime="fadeIn"] {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 473, ../sass/styles.scss */
[data-anime="left"] {
  -webkit-transform: translate3d(-60px, 0, 0);
  transform: translate3d(-60px, 0, 0);
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/* line 481, ../sass/styles.scss */
[data-anime="left-2"] {
  -webkit-transform: translate3d(-60px, 0, 0);
  transform: translate3d(-60px, 0, 0);
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

/* line 490, ../sass/styles.scss */
[data-anime="box"] {
  -webkit-transform: translate3d(-60px, 0, 0);
  transform: translate3d(-60px, 0, 0);
  /*-webkit-transition-delay: 1.25s;
  -o-transition-delay: 1.25s;
  transition-delay: 1.25s;*/
}

/* line 499, ../sass/styles.scss */
[data-anime].animate {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/* Tablets e smarts */
@media only screen and (max-width: 900px) {
  /* line 507, ../sass/styles.scss */
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* line 514, ../sass/styles.scss */
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
  }
  /* line 531, ../sass/styles.scss */
  .sidebar .sidebar-icons {
    margin-top: 15px;
  }

  /* line 542, ../sass/styles.scss */
  .content .grid .grid-item figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
/* Desktop */
@media only screen and (min-width: 901px) {
  /* line 568, ../sass/styles.scss */
  .sidebar {
    position: fixed;
    height: 100vh;
    width: 30vw;
  }

  /* line 574, ../sass/styles.scss */
  .sidebar-container {
    -webkit-box-flex: 30vw;
    -ms-flex: 30vw;
    flex: 30vw;
  }

  /* line 580, ../sass/styles.scss */
  .content {
    -webkit-box-flex: 65vw;
    -ms-flex: 65vw;
    flex: 65vw;
  }

  /* line 586, ../sass/styles.scss */
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /* line 594, ../sass/styles.scss */
  .grid-item {
    width: 45%;
    margin-right: 1rem;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
