---
import { Social } from './Social'
---

<footer class="py-6 flex flex-col justify-center items-center gap-4">
  <Social />

  <p class="text-white">© Sidnei Farias, {new Date().getFullYear()}.</p>
</footer>
