---
import Social from './Social.astro'
---

<footer
  class="w-full absolute bottom-0 py-6 flex flex-col justify-center items-center gap-4"
>
  <Social />

  <p class="font-secondary text-white">
    © Sidnei Farias, {new Date().getFullYear()}.
  </p>
</footer>
