---
import { Nav } from './Nav'

const navLinks = ['Portfolio', 'About', 'Contact']
---

<header
  class="w-full max-w-[676px] py-7 mx-auto fixed left-[50%] translate-x-[-50%] flex justify-between items-center"
>
  <a href="/">
    <h1 class="text-4xl text-white">Sidnei Farias</h1>
  </a>

  <Nav navLinks={navLinks} />
</header>
