---
import { Github, Linkedin } from 'lucide-react'
---

<div class="flex gap-4">
  <a
    href="https://www.linkedin.com/in/sidnei-farias/"
    title="Linkedin"
    target="blank"
    class="text-white"
  >
    <span class="-indent-[9999px] absolute block">Linkedin</span>

    <Linkedin />
  </a>

  <a
    href="https://github.com/sidneifjr"
    title="Github"
    target="blank"
    class="text-white"
  >
    <span class="-indent-[9999px] absolute block">Github</span>

    <Github />
  </a>
</div>
