.skills-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
        margin-bottom: 20px;
    }

    img {
        width: 100%;
        display: block;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .skills-list {
        max-width: 90%;
    }
}

@media (max-width: 375px){
    .skills-list {
        justify-content: space-between;
    }
}

@media (min-width: 960px){
    .skills-list {
        li {
            max-width: 80px;
        }
    }
}

@media (max-width: 959px){
    .skills-list {
        li {
            max-width: 60px;
        }
    }
}

@media (max-width: 768px){
    .skills-list {
        li {
            &:first-child {
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 420px){
    .skills-list {
        li {
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 376px){
    .skills-list {
        li {
            &:not(:last-child){
                margin-right: 20px;
            }
        }
    }
}

@media (max-width: 375px){
    .skills-list {
        li {
            &:not(:last-child){
                margin-right: 10px;
            }
        }
    }
}
